{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 400,
  "tabWidth": 2,
  "useTabs": false,
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "lf"
}
