REACT_APP_LOCAL_PROXY=https://devqa-mohini.shikshalokam.org/
REACT_APP_WEBSOCKET_HOST=devqa-mohini.shikshalokam.org
REACT_APP_WEBSOCKET_RETRY_NUM=2
REACT_APP_S3_UPLOAD_RETRY_NUM=3
REACT_APP_WS_PROTOCOL=wss

# required but should be removed as it's not secure currenly

# 1. Certain apis only need the slug to retrieve company related information like
# company bot configurations
REACT_APP_COMPANY_SLUG=

# optional envs
REACT_APP_MEGA_PTM_PROFILE_ID=
REACT_APP_YLC_PROFILE_ID=
REACT_APP_ADUIO_PATH=/
REACT_APP_ROOT_PATH=

## implemented for AP team, should exists in the existing system
REACT_APP_AUTH_METHOD=cookie
REACT_APP_AUTH_KEY=
REACT_APP_AUTH_ROUTE=/api/shikshalokam/authenticate-profile/

# for testing
SHIKSHALOKAM_FE_URL=http://localhost:3000/

GENERATE_SOURCEMAP=false
PORT=3000
REACT_APP_AWS_REGION=ap-south-1
REACT_APP_SERVER_HOST=
REACT_APP_SERVER_URL=

REACT_APP_GUEST_DISCUSSION_FLOW=guest-discussion
REACT_APP_GUEST_MI_STORY_FLOW=mi-story
